body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(138, 163, 177);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  float: left;
}


li {
  list-style: none;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  /*
  border-style: solid;
  border-width: thin;
  */
  padding: 3px;
}

li:hover {
  background-color: lavender;
  border-radius: 4px;
}

button {
  background-color: rgb(71, 92, 112);
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 50px;
  border-radius: 4px;
}

.group {
  font-weight: 700;
  color: rgb(7, 17, 31);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 40px;
  float: left;
}

.wrapper {
  width: 90%;
}

.logo {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #00203a;
  break-after: avoid;
  border-style: solid;
  padding: 20px;
  border-radius: 15px 35px 15px;
  border-color: rgb(16, 133, 187);
}

.next {
  font-weight: 800;
  font-size: 18px;
  background-color: rgb(20, 37, 56);
  float: right;
  margin: 15px;
  padding: 30px;
}
.skip {
  font-weight: 800;
  font-size: 18px;
  background-color: rgb(20, 37, 56);
  float: right;
  margin: 15px;
  padding: 30px;
}

.next:hover {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  background-color: rgb(0, 32, 58);
}

.next:active {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  transform: translateY(4px);
}

.skip:hover {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  background-color: rgb(0, 32, 58);
}

.skip:active {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  transform: translateY(4px);
}